<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="map-container">
    <div class="select-container">
      <!--interface="popover" -->
      <ion-select [(ngModel)]="selectedOption" (ionChange)="onOptionChange()" label="Proximidad" label-placement="floating">
        <ion-select-option value="option1">1 km</ion-select-option>
        <ion-select-option value="option2">5 km</ion-select-option>
        <ion-select-option value="option3">10 km</ion-select-option>
      </ion-select>
    </div>
    
    <div id="map"></div>
  </div>
  
</ion-content>
